@media (max-width: 1700px) {
  .container {
    background-color: #fff;
    width: 50vw;
    min-height: 90vh;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    padding: 20px;
    overflow-y: auto;
  }
  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: rgb(76, 76, 129);
  }
  h4 {
    font-size: 20px;
    font-family: "Cedarville Cursive", sans-serif;
    font-weight: 100;
    text-align: right;
    margin: 0;
  }
  .header h1 {
    font-family: "Cedarville Cursive", sans-serif;
    font-weight: 500;
    font-size: 3vw;
    color: black;
  }
}

@media (max-width: 1024px) {
  .container {
    background-color: #fff;
    width: 80vw;
    min-height: 90vh;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    padding: 20px;
    overflow-y: auto;
  }
  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: rgb(76, 76, 129);
  }
  h4 {
    font-size: 20px;
    font-family: "Cedarville Cursive", sans-serif;
    font-weight: 100;
    text-align: right;
    margin: 0;
  }
  .header h1 {
    font-family: "Cedarville Cursive", sans-serif;
    font-weight: 500;
    font-size: 5vw;
    color: black;
  }
}

@media (max-width: 430px) {
  .container {
    background-color: #fff;
    width: 90vw;
    min-height: 90vh;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    padding: 20px;
    overflow-y: auto;
  }
  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: rgb(76, 76, 129);
  }
  h4 {
    font-size: 15px;
    font-family: "Cedarville Cursive", sans-serif;
    font-weight: 100;
    text-align: right;
    margin: 0;
  }
  .header h1 {
    font-family: "Cedarville Cursive", sans-serif;
    font-weight: 500;
    font-size: 10vw;
    color: black;
  }
}
